@import "tailwindcss";

@theme inline {
	--font-onest: var(--font-onest);
	--font-inter: var(--font-inter);
	--shadow-outset: 3px 5px 10px 0 rgba(0, 0, 0, 0.25);
}

body {
	background: #292929;
	color: white;
	font-family: var(--font-inter);
	box-shadow: var(--shadow-inset);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-onest);
}

.ellipse {
	position: absolute;
	width: 170px;
	height: 170px;
	top: 10px;
	left: 10px;
	border-radius: 50%;
	z-index: 0;
	transform-style: preserve-3d;
	mix-blend-mode: screen;
}

/* Анимация плейсхолдера */
input:focus::placeholder {
	animation: placeholderShift 0.8s forwards;
}

@keyframes placeholderShift {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	50% {
		transform: translateX(10px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

/* Эффект волны */
@keyframes wave {
	from {
		clip-path: circle(0% at 0 50%);
	}
	to {
		clip-path: circle(150% at 0 50%);
	}
}

/* Кастомный скроллбар */
.scrollbar-hide::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: #2D2D2D;
  border-radius: 3px;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background: #1F9C8F;
  border-radius: 3px;
}

.scrollbar-hide::-webkit-scrollbar-thumb:hover {
  background: #1a857a;
}